<font color='green'> <h1> <center> Python - Variables, Expressions & Statements </center> </h1> </font>

# Variables

The major purpose of variable is to store a value from one part of program so that it can be used in other part of program. It can be used to store the value of computation that is carried out during the flow of the program. A variable is a name that referes to a value.

<b> Assignment statement<b>

Assignment statement creates a new variable and store a value in it. For example,

In [1]:
message = "this is first string variable"  # a string type variable named message is created and value is stored in it
print(message)

this is first string variable

In [2]:
num = 5 # an int type variable named num is created and 5 is stored as value in int 
print("num contains ----> ", num)
print("type of num -----> ", type(num))

num contains ---->  5
type of num ----->  <class 'int'>

In [5]:
float_num = 3.5 # a variable of type float is created and value 3.5 stored in it
print("float_num contains ----->  ", float_num)

float_num = 4.5 # value of variable can be changed
print("float_num now contains ----->  ", float_num)

float_num contains ----->   3.5
float_num now contains ----->   4.5

<b>Variable Naming<b>

Choose the variable name that is meaningful and improves the readability of the program. <br>
Rules to be kept in mind while naming the variables : <br>
    - Letters, numbers and underscore are allowed
    - Can not contain spaces 
    - Can not start with number
    - It's case sensitive
    - It should not be from the reserved keyword list

In [6]:
name = "valid variable name" #valid variable name with letters

In [7]:
number1 = 12 # valid varibale name of type int

In [8]:
_name = "valid variable"  #variable name with underscore

In [2]:
 var name = "some value" #invalid variable name as it contains space in it

SyntaxError: invalid syntax (2485238639.py, line 1)

In [11]:
1_name = "invalid variable"  # throws error as it starts with number

SyntaxError: invalid decimal literal (3855317601.py, line 1)

Variable names are case sensitive. Following three variable has same spelling but still contains different values in it.

In [12]:
name1 = "xyz"

In [13]:
Name1 = "por"

In [14]:
NaMe1 = "abc"

In [15]:
print("name1--->", name1)

name1---> xyz

In [16]:
print("Name1--->", Name1)

Name1---> por

In [17]:
print("NaMe1--->", NaMe1)

NaMe1---> abc

Variable name can not be a keyword.

In [18]:
class = "my class value"    # throws erros as class is reserved word

SyntaxError: invalid syntax (3616565239.py, line 1)

# Statements

It is unit of code that Python interpreter executes. It can be a single statement or group of statement like statements within loops, functions etc. When interpreter hits statement, it executes the statement and displays the result (if there is any).

In [19]:
#Function call is statement
print('this is statement')

this is statement

In [20]:
#Assignment is statement but does not produce any output
x = 5

In [21]:
#Compound statment - for loop
for i in range(5):
    print("Coming inside the loop ----> " , i + 1 , " times")
    print("i is ---> ", i)

Coming inside the loop ---->  1  times
i is --->  0
Coming inside the loop ---->  2  times
i is --->  1
Coming inside the loop ---->  3  times
i is --->  2
Coming inside the loop ---->  4  times
i is --->  3
Coming inside the loop ---->  5  times
i is --->  4

# Expressions

Expressions in Python can include operations among compatible types (e.g., integers and floats). For example, basic arithmetic operations like adding multiple numbers:

In [22]:
35 + 45 + 23

103

Python follows well accepted mathematical conventions when evaluating mathematical expressions. In the following example, Python adds 3 to the result of the multiplication (i.e., 12).

In [23]:
4 * 3 + 3

15

<b>Operators and Operands<b>

These are special symbols that represents computations like addition, multiplication etc. Operand are values on which operators are applied.

In [24]:
x = 5 + 6  # + is operator applied on operands 5 & 6

In [25]:
y = x * 9.5 # * is operator applied on operands x & 9.5

In [29]:
z = y + 'abcs'  #throws error as operands should be compatible with the operator

TypeError: unsupported operand type(s) for +: 'float' and 'str'

In [30]:
string = 'BITS' + 'Pilani' #for string + is concatenation 
string

'BITSPilani'

In [31]:
string = "BITS Pilani " * 3 #for string * is repetation
string

'BITS Pilani BITS Pilani BITS Pilani '

<b>Mathematical Operations / Expressions<b>

In [32]:
5 + 3 # addition

8

In [33]:
5 - 3 # subtraction

2

In [34]:
5 * 3 #multiplication

15

In [35]:
5 / 3 # regular division

1.6666666666666667

In [36]:
5 // 3 # modulo division, returns reminder after division

1

In [40]:
5 % 3 #integer division

2

In [38]:
5 ** 3 # exponent

125

In [41]:
num1 = 2
num2 = 3

print(num1 + num2)  
print(num1 - num2) 
print(num1 * num2) 
print(num1 / num2)
print(num1 // num2)
print(num1 % num2) 
print(num1 ** num2)

5
-1
6
0.6666666666666666
0
2
8

In [4]:
num1 = 8
#num1 holds the integer value 8
num1 += 5 # num1=num1+5
# += operator is a shorthand for addition assignment. It adds 5 to the current value of num1 and then updates num1 with the result.
# num1 is updated from 8 to 8 + 5
print(num1)
num1 -= 1
# -= operator is a shorthand for subtraction assignment. It subtracts 1 from the current value of num1 
#num1 is updated from 13 to 13 - 1
print(num1)

13
12

<b> Comparison Operations<b>

In [44]:
num1 = 4
num2 = 12
print(num1 > num2)
print(num1 < num2)
print(num1 >= num2)
print(num1 <= num2)
print(num1 == num2)
print(num1 != num2)

False
True
False
True
False
True

# Exercise

Q1. Compute the simple interest using the formula interest = p * n * r / 100 where p is principal, n is tenure of loan, and r is rate of interest. Accept p, n, r from users and then perform the interest calculation.

In [ ]:
#Try it here

Q2. Write a program that asks user weight in kilogram and converts into pounds. There are 2.2 pound in one kilogram.

In [ ]:
#Try it here

Q3. If a four digit number is entered through keyboard by user. Write a program to calculate the sum of its digits.

In [ ]:
#Try it here

# Answers

In [ ]:
#Q1 Solution
p = eval(input("Enter the principal amount \n"))
n = eval(input("Enter the tenure of loan in years \n"))
r = eval(input("Enter the rate of interest in percentage \n"))

interest = (p * n * r) / 100
print("The interest for loan amount of Rs ", p , " for tenure ", n, " years ", "with interest rate ", r,  "%\n", interest)

In [ ]:
#Q2 Solution
weight = eval(input("Enter the weight in kilogram \n"))
weight_in_pounds = weight * 2.2

print(weight, "kg = ", weight_in_pounds , " pounds ")

In [ ]:
#Q3 Solution
number = int(input("Enter a four digit number"))

sum_of_digits = 0 

digit1 = number % 10
sum_of_digits = sum_of_digits + digit1
number = int(number / 10 )

digit2 = number % 10
sum_of_digits = sum_of_digits + digit2
number = int(number / 10)

digit3 = number % 10
sum_of_digits = sum_of_digits + digit3
number = int(number / 10)

digit4 = number % 10
sum_of_digits = sum_of_digits + digit4
number = int(number / 10)

print("The sum of digits of number is  ", sum_of_digits)