<center> <img src ="https://i.postimg.cc/1X8H7YYt/BITS-Logo.png" width = "400" alt="BITS Pilani Logo" /> </center>

<font color='green'> <h1> <center> Python - Lists Operations </center> </h1> </font>

<b> Operations on lists <b>

Lists are mutable, i.e. the elements can be added, altered or removed from the list.

In [1]:
my_list = [1 , 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

append() can be used to add an element to the list.

In [2]:
my_list.append(6) # add new element 6 at end of list
my_list

[1, 2, 3, 4, 5, 6]

In [3]:
my_list.append([7,8]) # add list as new element in list
my_list

[1, 2, 3, 4, 5, 6, [7, 8]]

extend() can also be used to add list of elements into list.

In [4]:
my_new_list = [1 , 2, 3, 4, 5]
my_new_list

[1, 2, 3, 4, 5]

In [5]:
my_new_list.extend([6])  # an element can be added into the list
my_new_list

[1, 2, 3, 4, 5, 6]

In [6]:
my_new_list.extend([7, 8, 9 ])  # list of elements can also be added into the list 
my_new_list

[1, 2, 3, 4, 5, 6, 7, 8, 9]

insert() can be used to add an element at the desired position.

In [7]:
my_list = [1 , 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [8]:
my_list.insert(0, 'a')  #insert 'a' at first position
my_list

['a', 1, 2, 3, 4, 5]

In [9]:
my_list.insert(len(my_list) , '*****')  #insert '***** at last position
my_list

['a', 1, 2, 3, 4, 5, '*****']

remove() can be used to find the first occurance of the element and to remove it.

In [10]:
my_list = [1 , 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [11]:
my_list.remove(3) # find first occurance of '3' and remove it from the list
my_list

[1, 2, 4, 5]

pop() can be used to remove an element from specified index and store its value in a variable.

In [12]:
my_list = [1 , 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [13]:
popped_element = my_list.pop(4)
print("list--->", my_list)
print("popped element--->", popped_element)

list---> [1, 2, 3, 4]
popped element---> 5

del() can also used to remove element from the list at specified location.

In [14]:
my_list = [1 , 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [15]:
del(my_list[1])  # removes the element at 1 index
my_list

[1, 3, 4, 5]

Assignment operator can be used to alter the element of list at the desired index.

In [16]:
my_list = [1 , 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [17]:
my_list[0] = 1111  # change the element at first position to 1111
my_list

[1111, 2, 3, 4, 5]

In [18]:
my_list[2] = 'abcd'  # change the element at third position to 'abcd'
my_list

[1111, 2, 'abcd', 4, 5]

<b>List Methods<b>

sort() can be used to sort the list elements. Default is ascending order.

In [19]:
my_list = [11 , 2, 39, 4, 57]
print("list before sorting--->", my_list)

print()

my_list.sort()
print("list after sorting--->", my_list)

list before sorting---> [11, 2, 39, 4, 57]

list after sorting---> [2, 4, 11, 39, 57]

sort order can be specified as argument. Default is reverse = false. Arranges elements in descending order

In [20]:
my_list = [11 , 2, 39, 4, 57]
print("list before sorting--->", my_list)

print()

my_list.sort(reverse=True)
print("list after sorting--->", my_list)

list before sorting---> [11, 2, 39, 4, 57]

list after sorting---> [57, 39, 11, 4, 2]

Alternative way to get the sorted list using sorted() method. Original list is not modified.

In [22]:
my_list = [11 , 2, 39, 4, 57]
print("list before sorted--->", my_list)

print()

print("list after reversing the order--->", list(sorted(my_list)))

list before sorted---> [11, 2, 39, 4, 57]

list after reversing the order---> [2, 4, 11, 39, 57]

reverse() can be used to reverse the order of list elements.

In [23]:
my_list = [11 , 2, 39, 4, 57]
print("list before reversing the order--->", my_list)

print()

my_list.reverse()
print("list after reversing the order--->", my_list)

list before reversing the order---> [11, 2, 39, 4, 57]

list after reversing the order---> [57, 4, 39, 2, 11]

Alternative way to get the reversed list using reversed() method. Original list is not modified.

In [24]:
my_list = [11 , 2, 39, 4, 57]
print("list before reversing the order--->", my_list)

print()

print("list after reversing the order--->", list(reversed(my_list)))

list before reversing the order---> [11, 2, 39, 4, 57]

list after reversing the order---> [57, 4, 39, 2, 11]

index(x) can be used to determine the location of first occurance of element 'x' in the list

In [25]:
my_list = [11 , 2, 39, 4, 57]
my_list.index(39)  # find the location at which element 39 first occures

2

In [26]:
my_list = [11 , 2, 39, 4, 57]
my_list.index(45)  # find the location at which element 45 first occures, throws error as element not present in the list

ValueError: 45 is not in list

count(x) can be used to determine the count of occurances of element 'x' in the list

In [27]:
my_list = [11 , 2, 39, 4, 57, 39, 34, 39 ]
my_list.count(39)  # count the number of times 39 appears in the list

3

In [28]:
my_list = [11 , 2, 39, 4, 57, 39, 34, 39 ]
my_list.count(9)  # count the number of times 9 appears in the list

0

clear() can be used to remove all the elements of the list.

In [29]:
my_list = [11 , 2, 39, 4, 57, 39, 34, 39 ]
print("Original list ---> ", my_list)

my_list.clear()
print("List after clearning the elements---> ", my_list)

Original list --->  [11, 2, 39, 4, 57, 39, 34, 39]
List after clearning the elements--->  []

<b> Splitting <b>

The split method returns a list of the words of string, assuming that words are separated by white spaces.

In [30]:
my_string = "this is my string"
my_string

'this is my string'

In [31]:
my_string.split()  # returns the list of words based on white space as delimeter

['this', 'is', 'my', 'string']

In [32]:
comma_separated_string = "this, is, comma, separated, string"
comma_separated_string

'this, is, comma, separated, string'

In [33]:
list1 = comma_separated_string.split(',')  # returns the list of words based on comma as delimeter
list1

['this', ' is', ' comma', ' separated', ' string']

<b> List Comprehensions<b>

List comprehensions are powerful way to create the lists.

In [34]:
list1 = [i for i in range(3)]  # creates a list of 3 elements starting from 0 
list1

[0, 1, 2]

In [35]:
list2 = [i*i for i in range(5)]  # creates a list of 5 elements starting from 0 to 4 , each element having value as square 
list2

[0, 1, 4, 9, 16]

In [36]:
list3 = [i*i*i for i in range(1, 4)]  # creates a list of 3 elements starting from 1 to 3 , each element having value as cube 
list3

[1, 8, 27]

In [37]:
L = [ 1, 2, 3]
list4 = [i*10 for i in L] # create a list whose elements are 10 times the elements of original list
list4

[10, 20, 30]

# Exercise

Q1. Write a program that accepts 5 lists from the user, each one of which contains three values in it assignment marks, midsem marks and compre marks. <br>
    (a) Compute the total marks obtained by each student <br>
    (b) Print out the average of the class.

In [ ]:
#Try it here

Q2. Ask a use to enter a sentence <br>
    (a) Print out the third word of sentence <br>
    (b) Print out every second word of sentence

In [ ]:
#Try it here

Q3. Create the following lists using a for loop.<br>
    (a) A list consisting of the integers 0 through 49<br>
    (b) A list containing the squares of integers 1 through 50 <br>
    (c) The list ['aa', 'bb', 'cc'.....] that ends with 26 th letter 'z'.

In [ ]:
#Try it here

Q4. Write a program that counts the number of occurances of word in a sentence entered by user without using built in function.

In [ ]:
#Try it here

Q5. Ask a user to enter a list of strings. Create a new list that consists of those strings with their first characters removed.

In [ ]:
#Try it here

# Answer

In [ ]:
#Q1 solution

count = 2

mark_lists = []

for i in range(count):
    str_values = input("Enter a list containing assignment, midsem and regular exam marks separated by comma\n")
    mark_list = str_values.split(",")
    mark_list = [int(mark) for mark in mark_list]
    mark_lists.append(mark_list)

i = 1 
grand_total = 0 

print("\n(ID)   Total")
for mark_list in mark_lists:
    total = sum(mark_list)
    print("(", i, ") ", total)
    grand_total = grand_total + total
    i = i + 1

average =   grand_total / len(mark_lists)  
    
print("\n Average of the class : ", average)

In [ ]:
#Q2 solution

sentence = input("Please enter a sentense having more than three words\n")

list_of_word = sentence.split()

#(a) Print out the third word of sentence 
print('Third word of sentence : ', list_of_word[2])


#(b) Print out every third word of sentence
new_list = list_of_word[ 2: : 3]
for word in new_list:
        print(word)

In [ ]:
#Q3 solution

#(a) A list consisting of the integers 0 through 49
print("A list consisting of the integers 0 through 49")
L = [i for i in range(50)]
print(L)
print()

#(b) A list containing the squares of integers 1 through 50 
print("A list containing the squares of integers 1 through 50 ")
L = [i*i for i in range(51)]
print(L)
print()

#(c) The list ['aa', 'bb', 'cc'.....] that ends with 26 th letter 'z'.
string = 'abcdefghijklmnopqrstuvwxyz'
print('The list  ')
L = [letter * 2 for letter in string ]
print(L)
print()

In [ ]:
#Q4 SOlution

sentence = input("Please enter a sentense\n")

list_of_word = sentence.split()

list_of_unique_words = []
count_of_unique_words = []

for word in list_of_word:
    cnt = list_of_word.count(word)
    print(word , "    ", cnt)

In [ ]:
#Q5 SOlution

count = 3
list_of_strings = []
list_of_modified_strings = []

for i in range(count):
    string = input("enter a string \n")
    new_string = string[1:]
    list_of_strings.append(string)
    list_of_modified_strings.append(new_string)
     
print("The output is\n")  
print("Original      Modified")  
for i in range(len(list_of_strings)):
    print(list_of_strings[i], "      ", list_of_modified_strings[i])